mixin formItem(label, type, placeholder)
    .form__el-cont
        .form__label-cont
            label.label= label
        .form__inp-cont
            input.inp-text(type= type placeholder= placeholder)




