div.items-more
    div.items-more__wrapper
        div.items-more__item
            div.items-more__icon
                img.items-more__img(src='../icons/add-media.png')
            div.items-more__text Фото или Видео

        div.items-more__item
            div.items-more__icon
                img.items-more__img(src='../icons/add-file.png')
            div.items-more__text Файл

        div.items-more__item
            div.items-more__icon
                img.items-more__img(src='../icons/add-location.png')
            div.items-more__text Локация
