form
    include ../../components/label-form/label-form
    +formItem('Почта', 'text', 'Введите почту')
    +formItem('Логин', 'text', 'Введите логин')
    +formItem('Имя', 'text', 'Введите имя')
    +formItem('Фамилия', 'text', 'Введите фамилию')
    +formItem('Телефон', 'number', 'Введите телефон')
    +formItem('Пароль', 'password','Введите пароль')
    +formItem('Повторите пароль', 'password','Повторите пароль')
