.wrapper{
  display: flex;
}
main{
  flex-grow: 1;
}
.wrapper-content{
  width: 510px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
a{
  margin: 10px 0;
  &.change{
    color: #3369F3;
    height: 20px;
    width: 510px;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #EAEAEA;
  }
  &.exit{
    color: red;
  }
}
