extends ../../layout/layout
block variables
    - var title = 'Profile'

block scripts
    script(src='./profile.js')

block content
    div.wrapper-profile
        include ../../components/back-button/back-button
        main
            div.wrapper-content
                include ../../components/profile-image/profile-image
                include ../../components/headline/headline
                +subtitle('Иван')
                div.user-info
                    include ../../components/label-profile/label-profile
                    +labelProfile('Почта', 'mail@yandex.ru')
                    +labelProfile('Логин', 'ivanivanov')
                    +labelProfile('Имя', 'Иван')
                    +labelProfile('Фамилия', 'Иванов')
                    +labelProfile('Имя в чате', 'Иван')
                    +labelProfile('Телефон', '+7 (909) 967 30 30')
                div.control
                    a.control__change Изменить данные
                    a.control__change Изменить пароль
                    a.control__exit(href='/login/login.pug') Выйти

