div.user-avatar
    div.user-avatar__wrapper
        div.user-avatar__logo
            img.user-avatar__img(src='../../../static/image-default.png')

        div.user-avatar__top-buble
            a.user-avatar__change-link Поменять аватар
