.user-avatar{
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: #EDEDED;
  border-radius: 50%;
  position: relative;
  &__wrapper{
    width: 130px;
    height: 130px;
  }
  &__logo{
    position: absolute;
    top: 35%;
    left: 35%;
  }
  &__img{
    width: 40px;
    height: 40px;
  }

  &__top-buble{
    display: none;
    position: absolute;
    top: 40%;
    left: 25%;
    &:hover{
      display: block;
    }
  }
  &:hover{
    .user-avatar__top-buble{
      width: 70px;
      height: 50px;
      display: block;
      text-align: center
    }
    .user-avatar__logo{
      opacity: .3;
    }
    background: rgba(0, 0, 0, .5);
  }
  &__change-link{
    color: white;
    font-size: 15px;
    line-height: 14px;
    cursor: pointer;
  }
}

