extends ../../layout/layout
block variables
    - var title = 'Chats'
    -
        var chats = [{name: 'ivan', message: 'photo', date: '10:33', unread: '2'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20', unread: '5'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20', unread: '4'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20', unread: '3'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'},
                     {name: 'dima', message: 'video', date: '4:20'}]

block scripts
    script(src='./chats.js')

block content
    div.wrapper
        div.users
            header
                include ../../components/owner-profile/owner-profile
            nav
                ul.list-chat
                    include ../../components/item-user/item-user
                    each val in chats
                        +itemUser(val.name, val.message, val.date, val.unread)

        main
            include ../../components/header-chat/header-chat
            +headerChat('Вадим')
            div.choose-chat Выберите чат чтобы отправить сообщение
            include ../../components/footer-chat/footer-chat

