mixin errorPage(title, subtitle)
    div.wrapper
        div.content
            div.content__title= title
            div.content__subtitle= subtitle
        div.back
            a.back__link(href='../chats/chats.pug') Назад к чатам
