mixin headerChat(name)
    div.chat-header
        div.chat-header__wrapper
            div.chat-header__top-profile
                div.top-profile__profile-img
                div.top-profile__profile-name= name
            div.chat-header__top-actions
