form.form(name='formData')
    div.form__inputs
        include ../../components/label-form/label-form
        +formItem('mail', 'Почта', 'text', 'Введите почту')
        +formItem('login', 'Логин', 'text', 'Введите логин')
        +formItem('name', 'Имя', 'text', 'Введите имя')
        +formItem('surname', 'Фамилия', 'text', 'Введите фамилию')
        +formItem('number phone', 'Телефон', 'number', 'Введите телефон')
        +formItem('password', 'Пароль', 'password','Введите пароль')
        +formItem('repeat password', 'Повторите пароль', 'password','Повторите пароль')
    div.form__buttons
        include ../../components/button/button
        +buttonItem('Зарегистрироваться')
        include ../../components/button-link/button-link
        +buttonLink('/login/login.pug','Войти')
