extends ../../layout/layout
block variables
    - var title = '505'

block scripts
    script(src='./505.js')
block content
    include ../../blocks/errors/errors
    +errorPage('404', 'Не туда попали')
