@import "../../layout/colors";

.form{
  margin: 0;
  &__btn-back{
    width: 64px;
    height: 100%;
    border: none;
    outline: none;
    background-color: $background-color_light-grey;
    &:active{
      background-color: $color_grey;
    }
  }
  &__img{
    height: 28px;
    width: 28px;
  }
}
