extends ../../layout/layout
block variables
    - var title = 'Chats'

block scripts
    script(src='./chats.js')

block content
    div.wrapper
        div.users
            include ../../components/owner-profile/owner-profile
            nav
                ul.list-chat
                    include ../../components/item-user/item-user
                    +itemUser('Андрей', 'Изображение', '10:33', '2')
                    +itemUser('Иван', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij jfoj fj ij4 ijfij kf k', '10:33', '4')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33', '2')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
                    +itemUser('iava', 'sjfiejwfij', '10:33')
        main
            include ../../components/header-chat/header-chat
            +headerChat('Вадим')
            div.choose-chat Выберите чат чтобы отправить сообщение
            include ../../components/footer-chat/footer-chat

