body{
  margin: 0;
}

a{
  text-decoration: none;
}
ul{
  padding: 0 10px;
  margin: 0;
  overflow-x: scroll;
  height: 88vh;
}
ul,li{
  list-style-type: none;
}

.wrapper{
  display: flex;
}
.users{
  width: 310px;
  height: 100vh;
  border-right: 1px solid #EAEAEA;
}

main{
  flex-grow: 1;
}

.choose-chat{
  text-align: center;
  margin-top: 50vh;
}
