@import "../../layout/colors";

.form{
  &__item{
    display: flex;
    flex-direction: column;
  }
  &__label{
    color: $color_dark_grey;
    font-size: 11px;
  }
  &__input{
    height: 24px;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid $color_blue;
    color: $color_black;
  }
}
