form.form(name='formData')
    div.form__inputs
        include ../../components/label-form/label-form
        +formItem('login' ,'Логин', 'text', 'Введите логин')
        +formItem('password', 'Пароль', 'password','Введите пароль')
    div.form__buttons
        include ../../components/button/button
        +buttonItem('Авторизация')
        include ../../components/button-link/button-link
        +buttonLink('/signin/signin.pug','Нет аккаунта?')

