@import "../../layout/colors";

.wrapper{
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
}

.content{
  color: $color_black;
  &__title{
    font-size: 40px;
    font-weight: 500;
  }
  &__subtitle{
    font-size: 20px;
  }
}

.back{
  margin-top: 80px;
  &__link{
    color: $color_blue;
    font-size: 13px;
    text-decoration: none;
  }
}
