.wrapper{
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
}

.content{
  color: #1E1E1E;
  &__title{
    font-size: 40px;
    font-weight: 500;
  }
  &__subtitle{
    font-size: 20px;
  }
}

.back{
  margin-top: 80px;
  &__link{
    color: #3369F3;
    font-size: 13px;
    text-decoration: none;
  }
}
