div.owner-profile
    div.owner-profile__aside
        div.aside__logo
        a.aside__link-profile(href='/profile/profile.pug') Профиль
    div.search
        input.search__input(placeholder='Поиск')

