mixin itemUser(name, message, date, unread)
    li.list-chat__item
        div.item__avatar
        div.item__dialog
            div.dialog
                div.dialog__user= name
                div.dialog__date= date
            div.content
                div.content__text-preview= message
                if  unread
                    div.content__unread-message= unread


