@import "../../layout/colors";

.list-chat__item{
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #EAEAEA;
  &:hover{
    background: #E4EDFD;
    cursor: pointer;
  }
}

.item{
  &__avatar{
    width: 47px;
    height: 47px;
    background-color: grey;
    border-radius: 50%;
  }
  &__dialog{
    padding-left: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.dialog{
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__user{
    font-size: 13px;
    color: $color_black;
  }
  &__date{
    font-size: 9px;
    color: $color_grey;
  }
}

.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  &__text-preview{
    font-size: 12px;
    color: $color_grey;
  }
  &__unread-message{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: auto;
    text-align: center;
    background: $color_blue;
    color: $color_white;
  }
}


