div.upload-files
    div.upload-files__wrapper
        duv.upload-files__headline Загрузите файл
        div.upload-files__choose-file Выбрать файл на компьютере
        include ../../components/button/button
        +buttonItem('Выберите файл')

